[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/glumes/beautifulhugo.git
[submodule "public"]
	path = public
	url = https://github.com/glumes/glumes.github.io.git
