{{ define "header" }}
  <header class="header-section ">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>那些年，写过的文章</h1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
{{- $paginator := .Paginate .Pages.ByDate.Reverse}}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="posts-list">
            <section id="archive" class="archive">
            {{ range (.Site.RegularPages).GroupByDate "2006" }}
            {{ if ne .Key "0001" }}
                <h2>{{ .Key }}</h2>
                {{ range where .Pages "Type" "not in" (slice "page") }}
                <div class="row">
                    <div class= "col-xs-3 text-right small">
                        <p-archive>{{ .Date.Format "Jan 2, 2006" }}</p-archive>
                    </div>
                    <div class= "col-xs-9 text-left small">
                        <p-archive><a href="{{ .RelPermalink }}">{{ if .Draft }}<span style="color: darkorange">[Draft]</span> {{ end }}{{ .Title }}</a></p-archive>
                    </div>
                </div>
            {{ end }}
                {{ end }}
            {{ end }}
            </section>
        </div>
<!--         {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .RelPermalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .RelPermalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }} -->
      </div>
    </div>
  </div>
{{ end }}
