<!-- <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?9276c0ce2d3c49b591323abab4a32e1e";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script> -->

<link rel="stylesheet" href="{{ "https://res.cloudinary.com/glumes-com/raw/upload/v1516330613/website/css/prism.css" | absURL }}" />


<script data-ad-client="ca-pub-4260372210024819" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<!-- <link rel="stylesheet" href="{{ "https://image.glumes.com/css/reward.css" | absURL }}" /> -->
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4260372210024819",
    enable_page_level_ads: true
  });
</script> -->