{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


<!--         {{ if .Params.comments }}
          {{ if isset .Params "postmeta" }}
          {{ else }}
          {{ partial "postmeta.html" . }}
          {{ end }}
        {{ end }} -->
        
      <div>
          <!-- <h5 id="wc" style="margin-top: -5px;">{{ .WordCount }} 字|阅读大约需要花 {{ .ReadingTime }} 分钟</h5> -->
          {{if .Params.tags }}
          <h5 id="tags" style="margin-top: 0px;">标签:
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ $tag | urlize }}/">{{ $tag }}</a> &nbsp;
            {{ end }}
          </h5>
          {{ end }}
      </div>

      <article role="main" class="blog-post" itemprop="articleBody" id="content">
        {{ if not (.Params.notoc) }}
          {{ partial "toc.html" . }}
        {{ end }}
        {{ .Content }}
        {{ if isset .Site.Params "reward" }}
          {{ partial "reward.html" }}
        {{ end }}
<!-- 
                 {{ if not (.Params.noplanet) }}


                  <h4>一起交流学习，答疑解惑，有问题，我们星球见~~~</h4>

                  <img  width = 750px; height = 409px; src="https://image.glumes.com/images/2019/05/24/WechatIMG515.png">

                 {{ end }} -->

                {{ if not (.Params.nowechat) }}

                  <h4>欢迎扫码关注微信公众号：【音视频开发进阶】，获得最新文章推送~~~</h4>

                  <img src="https://ae01.alicdn.com/kf/U208b714bc7734ca99a743cf8c49a9b951.png">

                  <br/>

                {{ end }}


                {{ if .Params.original }}

                原创文章，转载请注明来源: &nbsp;&nbsp; <a href="{{ .Permalink }}">{{ .Title}}</a>

                {{ end }}

                


        {{ if not (.Params.noshare) }}
        <!-- {{ partial "share.html" }} -->
        {{ end }}
      </article>

      {{ if not (.Params.unrelated) }}
        {{ partial "related.html" . }}
      {{ end }}

      {{ if not (.Params.nopager) }}
      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
          </li>
        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
          </li>
        {{ end }}
      </ul>
      {{ end }}

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      {{ end }}



<!--       {{ if (.Params.gitcomment) }}
      <div id="git-comments"></div>
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <script src="{{ "js/gitment.browser.js" | absURL }}"></script>
      <script>
      var gitment = new Gitment({
        id: '{{ .Slug }}',
        title: '{{ .Title }}',
        owner: 'cnych',
        repo: 'blog',
        oauth: {
          client_id: 'bdb76dbb2e9d0786e350',
          client_secret: 'b454b2a08013fd0e32013be7a63fa8fcb262b6c4',
        }
      })
      gitment.render('git-comments')
      </script>
      {{ end }} -->

    </div>
  </div>
</div>
{{ end }}
